In [1]:
'''
Create a predictive model using Gradient Boosting to forecast housing prices 
based on various features such as square footage, number of bedrooms, number
of bathrooms and location.

'''

'\nCreate a predictive model using Gradient Boosting to forecast housing prices \nbased on various features such as square footage, number of bedrooms, number\nof bathrooms and location.\n\n'

In [13]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import mean_squared_error

In [21]:
data = {
    'squareFootage':[1500,2000,1200,1800,1350],
    'Bedrooms':[3,4,2,3,3],
    'Bathrooms':[2.0,2.5,1.5,2.0,2.0],
    'location':['Suburb','City','Rural','City','Suburb'],
    'Price':[250000,300000,180000,280000,220000]
}

In [49]:
data_set = pd.DataFrame(data)

In [50]:
data_set = pd.get_dummies(data_set,columns=['location'])
data_set

   squareFootage  Bedrooms  ...  location_Rural  location_Suburb
0           1500         3  ...           False             True
1           2000         4  ...           False            False
2           1200         2  ...            True            False
3           1800         3  ...           False            False
4           1350         3  ...           False             True

[5 rows x 7 columns]