In [1]:
import numpy as numpy
import pandas as pd
from sklearn.model_selection import train_test_split

In [10]:
dd = { "Pizza size":[6,8,10,12,14,16,18],"Piza Price":[800,1000,1200,1600,2200,2500,3000]}
dd

{'Pizza size': [6, 8, 10, 12, 14, 16, 18],
 'Piza Price': [800, 1000, 1200, 1600, 2200, 2500, 3000]}

In [11]:
date_set = pd.DataFrame(dd)
date_set

   Pizza size  Piza Price
0           6         800
1           8        1000
2          10        1200
3          12        1600
4          14        2200
5          16        2500
6          18        3000