In [8]:
'''
A telecommunication company want to reduce customer chrun
by identifying the customer risk leaving. They have historical customer
data on customer behaviour and want to build a model to predict which
customer are likely to churn
'''

import numpy as np
import pandas as pd
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score , classification_report

date = {
    'age':[30,25,35,20,40,55,32,28], 'monthly charge':[50,60,80,40,100,120,70,55],
    'churn':[0,1,0,1,0,1,0,1]
}

In [9]:
print(date)
date_set = pd.DataFrame(date)

{'age': [30, 25, 35, 20, 40, 55, 32, 28], 'monthly charge': [50, 60, 80, 40, 100, 120, 70, 55], 'churn': [0, 1, 0, 1, 0, 1, 0, 1]}

In [10]:
date_set

   age  monthly charge  churn
0   30              50      0
1   25              60      1
2   35              80      0
3   20              40      1
4   40             100      0
5   55             120      1
6   32              70      0
7   28              55      1